<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css"/>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
</head>
<body>
<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h1 class="uk-text-center">Образовательная программа: {{ program_name }}</h1>
        <a class="uk-button uk-button-default uk-align-right" href="/">Home</a>
    </div>
</div>

<div class="uk-card uk-card-primary uk-card-body">
    <h2 class="uk-text-center">Изучаемые дисциплины и полученные компетенции</h2>
</div>
</div>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            $(".chk:not(:checked)").parent().remove()
        });

    });
</script>
<div class="uk-padding uk-padding-remove-top">
    <div>
        <form action="/education_program/{{ id_program }}" method="post">
            <div class="uk-card uk-card-default uk-card-body ">
                <button class="uk-button uk-button-default" style="margin-bottom:0px;" type="submit" id='submit'>
                    Сохранить
                </button>

                <h3>Дисциплины:</h3>
                <ul uk-accordion>
                    {% for program in program_tree %}
                        <li>
                            <input type="checkbox" class="chk" style="float: left; margin: 6px" value="{{ program.name }}"
                                   name="subject"><a
                                class="uk-accordion-title"
                                href="#"><span class="uk-label">{{ program.score |round(2)}}</span> {{ program.name }}  </a>
                            <div class="uk-accordion-content uk-margin-large-left">
                                <h3>Аннотация дисциплины</h3>
                                <h4>{{ program.annotation }}</h4>
                                <h3>Знания, умения, навыки</h3>
                                <h4>По окончанию изучения дисциплины выпускник должен:</h4>
                                {% for zun in program.types %}
                                    <ul uk-accordion>
                                        <li>
                                            <a class="uk-accordion-title" href="#"><span class="uk-label uk-label-success">{{ program[zun[1]+'_tags'][-1][2] |round(2) }}</span> {{ zun[0] }} </a>
                                            <div class="uk-accordion-content uk-margin-large-left">
                                                <ul uk-accordion>
                                                    {% for all in program[zun[1]] %}{% set ns = namespace(zun_sim_sum=0) %}
                                                        <li>
                                                                {% for tags in program[zun[1]+'_tags']%}
                                                                    {% if tags[2] ==all[1] %}
                                                                        {% set ns.zun_sim_sum= ns.zun_sim_sum + tags[1]%}
                                                                    {% endif %}
                                                                {% endfor %}

                                                            <a class="uk-accordion-title"
                                                               href="#"><span class="uk-label uk-label-warning">{{ ns.zun_sim_sum|round(2) }}</span> {{ all[0] }} </a>
                                                            <div class="uk-accordion-content uk-margin-large-left">
                                                                {% for tags in program[zun[1]+'_tags'] %}
                                                                    {% if tags[2] ==all[1] %}
                                                                        <h3><span class="uk-label uk-label-danger">{{ tags[1] }} </span> {{ tags[0] }}</h3>

                                                                    {% endif %}

                                                                {% endfor %}
{#                                                            {{ gg|safe }}#}
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                                <ul uk-accordion>
                                    <li>
                                        <a class="uk-accordion-title" href="#">Структура
                                            дисциплины</a>
                                        <div class="uk-accordion-content uk-margin-large-left">
                                            <ul uk-accordion>
                                                {% for theme in program['theme'] %}
                                                    <li>
                                                        <a class="uk-accordion-title" href="#"> {{ theme.lower() }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
</div>

</div>
</div>

</body>
</html>