<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/png">
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>

</head>
<body>
<form action="/results" method="get" class="uk-form-stacked">
    <div class="uk-padding">
        <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-text-center">Анализатор вакансий</h1>
            <p class="uk-text-center">Анализирует вакансии по времени, региону, источнику и профессии.</p>
            <button class="uk-button uk-button-primary uk-align-center" type="submit">Analyze</button>
        </div>
    </div>
    <div class="uk-padding uk-padding-remove-top">
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-width-2-3@m">
                <div class="uk-card uk-card-default uk-card-body">
                    <legend class="uk-legend">Профессии</legend>
                    <div class="uk-margin">
                        <div class="uk-form-label">Вы можете выбрать несколько профессий</div>
                        <div class="uk-form-controls uk-list uk-margin-top">
                            <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-middle uk-table-divider">
                                    <tbody>
                                        {% for profession in professions %}
                                            {% if profession.is_support == True %}
                                            <tr style="cursor: pointer" onmousedown="this.firstElementChild.firstElementChild.checked = !this.firstElementChild.firstElementChild.checked" onmouseover="this.style.backgroundColor='#ffffdd';" onmouseout="this.style.backgroundColor='#fff';" >
                                                <td class="uk-table-shrink" >
                                                    <input class="uk-checkbox"  type="checkbox" value="{{ profession.id }}" name="prof"/>
                                                </td>
                                                <td class="uk-text-truncate uk-table-expand">{{ profession.name }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">

                    <legend class="uk-legend">Другие параметры</legend>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked_select">Регион</label>
                        <div class="uk-form-controls">
                            <select name="region" class="uk-select uk-form-width-medium" id="form-stacked_select">
                                {% for region in regions %}
                                    <option value="{{ region.id }}">{{ region.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-form-label">Начало<input type="date" name="sdate" class="uk-input"value="2017-01-01"></label>
                        <label class="uk-form-label">Конец<input type="date" name="edate" class="uk-input" value="2018-12-17"></label>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-form-label">Источник</div>
                        <div class="uk-form-controls">
                            {% for source in sources %}
                                <label><input class="uk-radio"
                                        {% if source.is_support == False %}
                                              disabled
                                        {% else %}
                                              checked
                                        {% endif %}
                                              type="radio" value="{{ source.id }}" name="source"> {{ source.name }}</label><br>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>