<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body>
<form action="/edprogram" method="get" class="uk-form-stacked">
    <div class="uk-padding">
        <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-text-center">Анализ рабочих программ дисциплин</h1>
            <p class="uk-text-center">Узнайте, на каких направлениях учат на выбранную вами профессию в различных вузах России</p>
            <button class="uk-button uk-button-primary uk-align-center" type="submit">Узнать</button>
        </div>
    </div>
    <div class="uk-padding uk-padding-remove-top">
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-width-2-3@m">
                <div class="uk-card uk-card-default uk-card-body">
                    <legend class="uk-legend">Университеты</legend>

                    <div class="uk-margin">
                        <div class="uk-form-label">Вы можете выбрать несколько университетов</div>
                        <div class="uk-form-controls uk-list uk-margin-top">
                            <div class="uk-overflow-auto">
                                <table class="uk-table uk-table-middle uk-table-divider">
                                    <tbody>
                                        {% for university in universities %}
                                            <tr>
                                                <td class="uk-table-shrink">
                                                    <input class="uk-checkbox"
                                                           type="checkbox" value="{{ university.id }}" name="prof">
                                                </td>
                                                <td class="uk-text-truncate uk-table-expand">{{ university.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</form>
</body>
</html>