<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
</head>
<body>
<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h1 class="uk-text-center">Образовательная програама</h1>
        <p class="uk-text-center">Профессия: <b>Программист</b></p>
        <a class="uk-button uk-button-default uk-align-right" href="/">Home</a>
    </div>
</div>

    <div class="uk-card uk-card-primary uk-card-body">
        <h2 class="uk-text-center">Изучаемые дисциплины и полученные компетенции</h2>
    </div>
</div>
<div class="uk-padding uk-padding-remove-top">
    <div class="uk-card uk-card-default uk-card-body">
        <h3>Образовательная программа:</h3>
        <ul uk-accordion>
            {% for op in education_program %}
                <li>
                    <a class="uk-accordion-title" href="#"><span class="uk-label uk-label-danger">{{ 0 }}</span> {{ op }}</a>
                    <h4>Цель дисциплины: изучение методов программирования для овладения знаниями в
                                   области технологии программирования; подготовка к осознанному использованию как
                                   языков программирования, так и методов программирования.Особое внимание уделяется
                                   организации самостоятельной работы студентов и ее методическому
                                   обеспечению.Основные задачи курса программирования на основе структурного и
                                   объектно-ориентированного подхода:знакомство с методами структурного и
                                   объектно-ориентированного программирования как наиболее распространенными и
                                   эффективными методами разработки программных продуктов;обучение разработке
                                   алгоритмов на основе структурного и объектно-ориентированного подхода;закрепление
                                   навыков алгоритмизации и программирования; знакомство с основными структурами
                                   данных и типовыми методами обработки этих структур</h4>
                    <div class="uk-accordion-content uk-margin-large-left">
                        <h3>Дисциплины:</h3>
                        <ul uk-accordion>
                            {% for d in disciplines %}
                                <li>
                                    <a class="uk-accordion-title" href="#"><span class="uk-label uk-label-success">{{ 0 }}</span> {{ d }}</a>
                                    <div class="uk-accordion-content uk-margin-large-left">
                                        <h3>Компетенции</h3>
                                         <ul uk-accordion>
                                            {% for z in zyn %}
                                                <li>
                                                    <a class="uk-accordion-title" href="#"><span class="uk-label uk-label-success">{{ 0 }}</span> {{ z }}</a>
                                                </li>
                                             {% endfor %}
                                         </ul>
                                        <h3>Разделы дисциплины</h3>
                                             <ul uk-accordion>
                                            {% for z in parts %}
                                                <li>
                                                    <a class="uk-accordion-title" href="#"><span class="uk-label uk-label-success">{{ 0 }}</span> {{ z }}</a>
                                                     <div class="uk-accordion-content uk-margin-large-left">
                                                        <h4>Темы</h4>
                                                            <ul uk-accordion>
                                                            {% for z in themes %}
                                                            <li>
                                                                <a class="uk-accordion-title" href="#"><span class="uk-label uk-label-success">{{ 0 }}</span> {{ z }}</a>
                                                            </li>
                                                            {% endfor %}
                                                            </ul>
                                                     </div>
                                             {% endfor %}
                                         </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>