<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript"  src="../static/js/charts.js"></script>
    <script type="text/javascript"  src="../static/js/getqueries.js"></script>
    <link rel="shortcut icon" href="../static/images/curriculum.svg" type="image/png">
</head>
<body>

<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h1 class="uk-text-center">Статистика найденных вакансий</h1>
        <p class="uk-text-center">Профессия: <b>{{ profession }}</b></p>
        <a class="uk-button uk-button-default uk-align-right" href="/">Home</a>
    </div>
</div>
<div class="uk-padding uk-padding-remove-top">
    <div class="uk-child-width-expand@s" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-overflow-auto">
                    <h3>Пересечения с другими профессиями</h3>
                    <table id ='crossTable' class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-table-shrink">Код</th>
                                <th class="uk-table-expand">Название</th>
                                <th class="uk-table-shrink">Количество</th>
                            </tr>
                        </thead>
                        <!-- Table inserting -->
                    </table>
                </div>
                <div id='spinnerTable' class="uk-position-center" uk-spinner="ratio: 3"></div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-small uk-card-body uk-child-width-expand@s">
                <canvas id="myChart" width="300" height="300"></canvas>
                <div id='spinnerChart' class="uk-position-center" uk-spinner="ratio: 3"></div>
                <!-- graph  -->

                <script>
                    window.onload = loadProfession('{{profession_id}}')
                </script>

            </div>
        </div>
    </div>
</div>

<div class="uk-padding uk-padding-remove-top">
    <div class="uk-child-width-expand@s" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <div class="uk-overflow-auto">
                    <h3>Топ лучших совпадений</h3>
                <script>
                    window.onload = loadTop('{{profession_id}}')
                </script>
                    <table  id="topbest"  class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-table-shrink">Вероятность</th>
                                <th class="uk-table-expand">Название вакансии</th>
                            </tr>
                        </thead>
                        <!--- best table--->
                    </table>
                    <a class="uk-button uk-button-default" href="/vacancies?prof={{ profession_id }}">Все вакансии</a>
                    <a class="uk-button uk-button-default" href="/split/vacancies?prof={{ profession_id }}">Все разделенные вакансии</a>
                </div>
                <div id='spinnerTop' class="uk-position-center" uk-spinner="ratio: 3"></div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-card-body">
                <div class="uk-overflow-auto">
                    <h3>Топ худших совпадений</h3>
                    <table id="topworst" class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-table-shrink">Вероятность</th>
                                <th class="uk-table-expand">Название вакансии</th>
                            </tr>
                        </thead>
                        <!--- worst table--->
                    </table>
                </div>
                <div id='spinnerWorst' class="uk-position-center" uk-spinner="ratio: 3"></div>
            </div>
        </div>
    </div>
</div>

<div class="uk-padding uk-padding-remove-top">
    <div class="uk-card uk-card-secondary uk-card-body">
        <h2 class="uk-text-center">Сопоставление. Дерево профессионального стандарта</h2>
    </div>
</div>
<div class="uk-padding uk-padding-remove-top">
    <div class="uk-card uk-card-default uk-card-body">
        <form action="/save?prof_id={{ profession_id }}" method="post" class="uk-form-stacked">
            <button class="uk-button uk-button-primary mode-view" type="button" uk-toggle="target: .mode-view">Выбрать элементы</button>
            <button class="uk-button uk-button-secondary mode-view" type="button" uk-toggle="target: .mode-view" hidden>Отменить изменения</button>
            <button class="uk-button uk-button-danger mode-view" type="submit"  hidden>Сохранить изменения</button>

        <a class="uk-button uk-button-default" href="/selected">Посмотреть выбранные</a>
        <h3 id='countTopWords' class="uk-article-meta"> Идет загрузка, пожалуйста, подождите </h3>
        <!-- large piece of cake --->

        <div id='spinnerBranch' class="uk-position-center" uk-spinner="ratio: 3"></div>
        <div id="branchesGenerator">

        </div>
        <script>
            window.onload = loadBranch('{{profession_id}}')
        </script>
        </form>
    </div>
</div>
</body>
</html>