<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css" />
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
    <style>
        .layer {
            overflow: scroll; /* Добавляем полосы прокрутки */
            height: 600px; /* Высота блока */
            padding: 5px; /* Поля вокруг текста */
            overflow-x: hidden;
            overflow-y: auto;
            }
    </style>
</head>
<body>
<div class="uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h1 class="uk-text-center">Выбранные части</h1>
        <p class="uk-text-center">Регион: <b>{{ params.region.name }}</b> Источник: <b>{{ params.source.name }}</b> Период: <b>{{ period }}</b></p>
        <a class="uk-button uk-button-default uk-align-right" href="/results">Результаты поиска</a>
    </div>
</div>
<div class="uk-padding uk-padding-remove-top">
    <div class="uk-child-width-expand@s" uk-grid>
        <div class="layer">

            {% for profession in professions %}
                <h3 class="uk-text-center">{{ profession.name }}</h3>
                {% for branch in profession.branches %}
                    <div class="uk-card uk-card-default uk-card-body uk-margin-top">
                        <div>
                            <h4><a class="uk-margin-right" uk-icon="icon: chevron-down" uk-toggle="target: #toggle-level-{{ branch.level }}"></a>Уровень {{ branch.level }}</h4>
                            <ul class="uk-list uk-text-small" id="toggle-level-{{ branch.level }}" hidden>
                                {% for post in branch.posts %}
                                    <li>{{ post.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <ul uk-accordion>
                            {% for general_function in branch.general_functions %}
                                <li>
                                    <a class="uk-accordion-title" ><span class="uk-label uk-label-danger">{{ general_function.weight }}</span> {{ general_function.name }}</a>
                                    <div class="uk-accordion-content uk-margin-medium-left uk-margin-small-top">
                                        <a uk-icon="icon: table" uk-toggle="target: #toggle-gf-{{ general_function.id }}"></a>
                                        <h3 class="uk-article-meta uk-margin-small-top" hidden id="toggle-gf-{{ general_function.id }}">Функций: {{ general_function.count }} <br> Частые слова: <br> {{ general_function.monogram}}.<br> Частые словосочетания: <br> {{ general_function.bigram }} </h3>
                                        <ul uk-accordion class="uk-margin-small-top">
                                            {% for function in general_function.functions %}
                                                <li>
                                                    <a class="uk-accordion-title"><span class="uk-label uk-label-success">{{ function.weight }}</span> {{ function.name }}</a>
                                                    <div class="uk-accordion-content uk-margin-medium-left uk-margin-small-top">
                                                        <a uk-icon="icon: table" uk-toggle="target: #toggle-f-{{ function.id }}"></a>
                                                        <h4 class="uk-article-meta uk-margin-small-top" id="toggle-f-{{ function.id }}" hidden>Характеристик: {{ function.count }} <br> Частые слова: <br> {{ function.monogram}}.<br> Частые словосочетания: <br> {{ function.bigram }}</h4>
                                                        <ul uk-accordion class="uk-margin-small-top">
                                                            {% for part in function.parts %}
                                                                <li>
                                                                    <a class="uk-accordion-title" ><span class="uk-label">{{ part.weight }}</span> {{ part.standard_part }}</a>
                                                                    <div class="uk-accordion-content">
                                                                         <h5 class="uk-article-meta">Частей характеристики: {{ part.count }}. <br> Частые слова: <br> {{ part.monogram}}.<br> Частые словосочетания: <br> {{ part.bigram }} </h5>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            {% for part in general_function.selected_parts %}
                                                <li>
                                                    <a class="uk-accordion-title" href="#"><span class="uk-label">{{ part.weight }}</span> {{ part.standard_part }}</a>
                                                    <div class="uk-accordion-content">
                                                         <h5 class="uk-article-meta">Частей характеристики: {{ part.count }}. <br> Частые слова: <br> {{ part.monogram}}.<br> Частые словосочетания: <br> {{ part.bigram }} </h5>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                            {% for just_selected in branch.just_selected %}
                                {% for function in just_selected.functions %}
                                    <li>
                                        <a class="uk-accordion-title" href="#"><span class="uk-label uk-label-success">{{ function.weight }}</span> {{ function.name }}</a>
                                        <div class="uk-accordion-content uk-margin-medium-left uk-margin-small-top">
                                            <a uk-icon="icon: table" uk-toggle="target: #toggle-f-{{ function.id }}"></a>
                                            <h4 class="uk-article-meta uk-margin-small-top" id="toggle-f-{{ function.id }}" hidden>Характеристик: {{ function.count }} <br> Частые слова: <br> {{ function.monogram}}.<br> Частые словосочетания: <br> {{ function.bigram }}</h4>
                                            <ul uk-accordion class="uk-margin-small-top">
                                                {% for part in function.parts %}
                                                    <li>
                                                        <a class="uk-accordion-title" href="#"><span class="uk-label">{{ part.weight }}</span> {{ part.standard_part }}</a>
                                                        <div class="uk-accordion-content">
                                                             <h5 class="uk-article-meta">Частей характеристики: {{ part.count }}. <br> Частые слова: <br> {{ part.monogram}}.<br> Частые словосочетания: <br> {{ part.bigram }} </h5>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                            {% for just_selected in branch.just_selected %}
                                {% for part in just_selected.parts %}
                                    <li>
                                        <a class="uk-accordion-title" href="#"><span class="uk-label">{{ part.weight }}</span> {{ part.standard_part }}</a>
                                        <div class="uk-accordion-content">
                                             <h5 class="uk-article-meta">Частей характеристики: {{ part.count }}. <br> Частые слова: <br> {{ part.monogram}}.<br> Частые словосочетания: <br> {{ part.bigram }} </h5>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="layer">
            <div class="uk-card uk-card-secondary uk-card-body" id = "panel">
                 <button class="uk-button uk-button-primary" onclick="addButton()">Добавить</button>
            </div>
            <script>
                var i = 0 ;
                var allowSubmit = false ;
                function addButton() {
                    var panel = document.getElementById("panel");
                    var div = document.createElement('div');
                    if (allowSubmit === false){
                        var btn = document.createElement('button');
                        btn.className = "uk-button uk-button-default uk-align-right";
                        btn.type = "submit";
                        btn.id = 'submit';
                        btn.innerHTML = 'Отправить';
                        panel.appendChild(btn);
                    }
                    div.className = "uk-card uk-card-secondary uk-card-body";
                    div.id = i;
                    div.innerHTML = '<input class="uk-input uk-form-width-medium" name ="code" type="text" placeholder="Код компетенции">\n' +
                            '<button class="uk-button uk-button-danger uk-align-right" onclick="del('+i+')">Удалить</button>' +
                            '<div class="uk-margin">' +
                            '<textarea class="uk-textarea" rows="5" placeholder="Наименование универсальной компетенции выпускника"></textarea>' +
                            '</div>'    ;
                    panel.appendChild(div);
                    console.log("нажатие");
                    i+=1;
                    allowSubmit = true;
                }
                function del(n) {
                    var panel = document.getElementById("panel");
                    var div = document.getElementById(n);
                    panel.removeChild(div);
                    if (panel.childElementCount < 3) {
                        var sub = document.getElementById('submit');
                        panel.removeChild(sub);
                        allowSubmit = false;
                    }
                }
            </script>
        </div>
    </div>
</div>
</body>
</html>